{% extends 'playlistapp/base.html' %}
{% block title %}Listentme{% endblock %}
{% block content%}

<div class="empty-playlist-list">
    <div class="text-type">
        <h2>coming soon. :D stay steady lads :P</h2>
    </div>
</div>
{% comment %} <div class="user-playlists">
    {% for playlist in users_playlists %}
    <a href="{{playlist.external_url}}" target="_blank">
        <div class="playlist">
            <div class="playlist-box">\view
                {% if playlist.image_url %}
                <img src={{ playlist.image_url }}>
                {% endif %}
            </div>
            <div class="playlist-name">
                {{ playlist.name }}
            </div>
        </div>
    </a>
    {% endfor %}
</div> {% endcomment %}

{% endblock %}